[Desktop Entry]
Version=1.0
Name=EDuke32
GenericName=EDuke32
Comment=Enhanched Duke Nukem 3D™ Source port engine 
Type=Application
Categories=Game;ArcadeGame;
TryExec=eduke32
Exec=eduke32
Icon=eduke32
Terminal=false
